
:root{
    --text-font-family: "Roboto",sans-serif,arial;
    --title-font-family: "Raleway",sans-serif,arial;
    --body-color:#434455;
    --title-color: #2E2F42;
    --hover-color: #404BBF;
/* slate: #434455 
navy blue: #2E2F42
white: #fffffff
black: #000000*/
/* hero section */

}
*{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header-container{
    display:flex; 
    justify-content: space-around;
    align-items: center;
}
.nav-container{
   display: flex; 
   gap: 40px;
}
.button-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 0px;
}
.button-containers ul{
    width: 586px;
    height: 48px;
}
.button-containers li{
    padding-left: 24px;
}
.container-pic{
    display: flex;
    margin-top: 48px;

}
.container-pic li{
    margin-left: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #E7E9FC;
}
.container-pic h3{
    margin: 32px 54px 8px 16px;
}
.container-pic p{
    margin-top: 0px;
    margin-left: 16px;
    margin-bottom: 32px;
}
.container-space{
    margin-top: 72px;
}
.logo::before,
.end-logo::before
{ 
    content: "WEB";
    color: #4D5AE5;
}
.logo{
    color:var(--title-color);
    font-family: var(--title-font-family);
    font-weight: 800;
}
.logo-nav-container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.end-section .end-logo
{
    color: #F4F4FD;
    font-family:var(--title-font-family);
    font-weight: 800;
}
.end-section{
    background-color: var(--title-color);
    height: 312px;

}
.end-section .end-text{
    color:#F4F4FD;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.head-bar .nav-bar a{
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    color:var(--title-color);
}
.head-bar .nav-bar a:hover,
.head-bar .nav-bar a:focus {
    color: var(--hover-color);
}
body {
    font-family: var(--text-font-family);
    color: var(--body-color);
    font-size: 16px;
    line-height: 1.5;
}
h1 {
    font-weight: 800;
    font-size: 56px;
    text-align: center;
    line-height: 1.06;
    color: #ffffff;
    width: 496px;
    height: 120px;
}
.button-service{
    background-color:#4D5AE5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    cursor: pointer;
    width: 169px;
    height: 56px;
    text-align: center;
    padding: 16px 32px;
}
.button-service:hover,
.button-service:focus{
    color: var(--hover-color);
}

.hero-section{
    background-color: var(--title-color);
    height: 600px;
}
/*  
.hero-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
*/
.title-container{
    display: flex;
    justify-content: center;
    margin-top:188px;
}
.button-container{
    display: flex;
    justify-content: center;
}
.contact-info a
{
    color: var(--body-color);
    font-style: normal;
}
.contact-info:hover, 
.contact-info:focus {
    color: var(--hover-color);
    /* first section */
}
.container-address{
    display: flex;
    gap: 40px;
}
h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-color);
}
.first-container{
    display:flex;
    justify-content: center;
    margin-top: 120px;
}

/* second section */
h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 1.1;
    color: var(--title-color);
}
.first-section li{
    width: 264px;
    height: 104px;
    padding: 24px;
}
/* third section */
.filters-section .filters button{
    background-color: #F4F4FD;
    color:#4D5AE5;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    border-color: #E7E9FC;
    font-size: 16px;
    padding: 12px 24px;
}
.filters-section .filters button:hover{
    color: #ffffff;
    background-color: #404BBF;
}
.second-title{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.second-section{
    display: flex;
    justify-content: center;
    margin-top: 72px;
}
.second-section li{
    padding: 24px;
}
.card-section{
    background-color: #F4F4FD;
    height: 732px;
    margin-top: 120px;
}
.third-section{
    display: flex;
    justify-content: center;
}
.third-section li{
    background-color: #ffffff;
    margin: 24px;
    width: 264px;
    height: 380px;
    text-align: center;
}
.end-container{
display: flex;
width: 264px;
height: 112px;
padding-top: 100px;
padding-bottom: 100px;
flex-direction: column;
align-content: center;
margin-left: 20px;
}





